<div class="container" style="margin: 100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h2>Modificá la entrada del Blog</h2>
            <form action="/admin/blog/modificar" method="POST" enctype="multipart/form-data">
            <input type="hidden" value="{{entrada.id}}" name="id">
            <div class="form-group">
                <input type="text" class="form-control" value="{{entrada.titulo}}" name="titulo">
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" name="subtitulo">{{entrada.subtitulo}}</textarea>
            </div>
            <div class="form-group">
                <p>
                    <label>Imagen: <input type="file" name="imagen" id="imagen" /></label>
                </p>
                <p>
                    <label><input type="checkbox" name="img_delete" id="img_delete" value="1"> ¿Desde eliminar la imagen actual?</label>
                    <input type="hidden" name="img_original" value="{{entrada.img_id}}">
                </p>
            </div>

            <div class="form-group">
                <label for="">Rellena aquí</label>
                <textarea type="text" class="form-control" name="cuerpo">{{entrada.cuerpo}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
                <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>